@charset "UTF-8";
/*$main-font-family:'Segoe UI', Tahoma, Helvetica, sans-serif;*/
/*$main-font-family:Roboto, arial, sans-serif;*/
/*$main-color-corpblack:#9cff00;*/
/*html, body {
    height: 100%;
}*/
.body-content {
  color: #4d4d4d;
  font-weight: normal;
  font-size: 14px; }

.font_main_12 {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: #4d4d4d;
  /*font-weight:bold;*/
  /*line-height: 1.8em;*/
  font-size: 12px; }

.font_main_13 {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: #4d4d4d;
  /*font-weight:bold;*/
  /*line-height: 1.8em;*/
  font-size: 13px; }

.font_main_14 {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: #4d4d4d;
  /*font-weight:bold;*/
  /*line-height: 1.8em;*/
  font-size: 14px; }

.font_main_18 {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: #4d4d4d;
  /*font-weight:bold;*/
  /*line-height: 1.8em;*/
  font-size: 18px; }

.font_main_16 {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: #4d4d4d;
  /*font-weight:bold;*/
  /*line-height: 1.8em;*/
  font-size: 16px; }

.font_main_26 {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: #4d4d4d;
  /*font-weight:bold;*/
  /*line-height: 1.8em;*/
  font-size: 26px; }

*:focus {
  outline: 0; }

.ug-lightbox-numbers {
  display: none; }

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: #4d4d4d;
  /*font-weight:bold;*/
  /*line-height: 1.8em;*/
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  /*font-size: 13px;*/
  -webkit-tap-highlight-color: none !important; }

.font_grey {
  color: #666; }

.font_lightgrey {
  color: #A1A1A1; }

.font_black {
  color: #333; }

.font_red {
  color: #e74c3c; }

.font_gold {
  color: #7a752b; }

.font_green {
  color: #16a085; }

.font_accentgreen {
  color: #a8ff1f; }

.background_red {
  background-color: #e74c3c !important; }

.opacity09 {
  opacity: 0.9; }

.server_error_validation_msg {
  color: #921e12;
  font-size: 12px;
  padding-top: 3px; }

.server_error_validation_msg.ngmsg {
  padding-top: 5px; }

.busy_internal_overlay {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #ffffff;
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
  z-index: 1000;
  text-align: center; }

.busy_internal_overlay > md-progress-circular {
  margin: auto;
  /*margin-top: 30%;*/ }

.busy_internal_overlay > md-progress-circular.m10 {
  margin: auto;
  /*margin-top: 10%;*/ }

.busy_overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #ffffff;
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
  z-index: 1000; }

.busy_overlay > md-progress-circular {
  margin: auto;
  margin-top: 30%; }

.busy_overlay > md-progress-circular.m10 {
  margin: auto;
  margin-top: 10%; }

.y_link {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
  color: #4d4d4d; }

.y_link_button {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: #4d4d4d;
  /*font-weight:bold;*/
  /*line-height: 1.8em;*/
  font-size: 14px; }

.y_link_button {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: #4d4d4d;
  /*font-weight:bold;*/
  /*line-height: 1.8em;*/
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px; }

.y_link_button:hover, .y_link:hover {
  color: #9cff00 !important; }

.еdit_btn {
  color: #4d4d4d;
  font-size: 14px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s; }

.еdit_btn:hover {
  color: #7a752b; }

.default_btn_fab_icon_size {
  font-size: 20px !important; }

.kedno_grid_checkbox_wrap {
  text-align: center; }

/*.default_btn_fab_icon_size.fa-plus {
       padding-top: 5px;
   }*/
.bottom_sheet_init_btn {
  font-size: 40px;
  padding-bottom: 10px; }

.bottom_sheet_init_btn_wrap {
  width: 100%;
  position: absolute !important;
  margin: 0 auto;
  text-align: center;
  bottom: 20px; }

.refresh_btn_icon {
  color: #4d4d4d;
  font-size: 14px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer; }

.refresh_btn_icon:hover {
  color: #7a752b; }

.refresh_btn_icon.fail_refresh {
  color: #e74c3c; }

.customGridCommandbtn {
  min-width: 0;
  min-height: 0;
  width: 20px;
  height: 24px;
  padding: 5px 10px 3px 7px;
  margin: 0px 5px 0px 5px;
  line-height: 0px; }

.customGridCommandbtn > .fa {
  font-size: 14px !important; }

.customGridCommandbtn .fa-plus {
  padding-top: 0px; }

.customGridCommandbtn.refreshbtn {
  /*background: red !important;*/
  padding: 9px 10px 9px 10px;
  position: relative;
  /*top: -0.25em;*/ }

.customGridCommandbtn.refreshbtn > i {
  color: #ffffff;
  opacity: 0.87;
  /*color: rgba(255, 255, 255, 0.87);*/ }

.md-toolbar-tools {
  text-transform: capitalize; }

/*.title_header
    {
      
        font-size: 22px;
 
        font-weight: normal;
     
        border-radius: 3px;
        color:White;
        padding: 20px;
        background: #4d4d4d;

    }*/
.title_header {
  border-bottom: 1px solid #9cff00;
  font-size: 22px;
  padding-bottom: 15px;
  font-weight: normal;
  text-align: center;
  height: 25px;
  min-width: 400px;
  padding-top: 25px; }

.k-status {
  color: #fff; }

.k-group.k-panel {
  padding-left: 10px !important; }

.tree_icon {
  padding-left: 5px;
  padding-right: 2px; }

#navMenuAuthPanelBar .k-sprite {
  font-size: 14px !important;
  overflow: visible !important;
  /*width: 30px; height:30px;*/
  top: 0.21em;
  position: relative;
  padding-right: 3px; }

.k-panelbar .k-link > .k-sprite {
  margin-top: 20px; }

.orgstructure_span_wrap {
  padding-left: 5px;
  /*font-family: $main-font-family;
        font-size:13px;*/ }

.orgstructure_span_name {
  padding-left: 5px; }

.k-grid {
  font-size: 12px !important; }

/*md-input-container .md-auto-hide .md-input-message-animation:not(.ng-animate), md-input-container .md-input-message-animation.ng-enter, md-input-container:not(.md-input-invalid) .md-auto-hide .md-input-message-animation {
  opacity: 1;
  margin-top: 0px;
}

.ng-messages-fix{
  visibility: hidden;
}*/
/*.ng-invalid ._md-select-value
  {

      border-bottom-color:rgb(146,30,18) !important;
  }*/
