<div class="content bg-image overflow-hidden ng-scope" style="background-image: url('/assets/img/photos/photo3@2x.jpg');">
    <div class="push-50-t push-15">
        <h1 class="h2 text-white animated zoomIn">Contacts</h1>
        <!--<h2 class="h5 text-white-op animated zoomIn">Welcome Administrator</h2>-->
    </div>
</div>
<div class="content bg-white border-b ng-scope">
    <div class="row items-push text-uppercase">
        <div class="col-xs-6 col-sm-3">
            <div class="font-w700 text-gray-darker animated fadeIn">Product Sales</div>
            <div class="text-muted animated fadeIn"><small><i class="si si-calendar"></i> Today</small></div>
            <a class="h2 font-w300 text-primary animated flipInX" href="javascript:void(0)">300</a>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="font-w700 text-gray-darker animated fadeIn">Product Sales</div>
            <div class="text-muted animated fadeIn"><small><i class="si si-calendar"></i> This Month</small></div>
            <a class="h2 font-w300 text-primary animated flipInX" href="javascript:void(0)">8,790</a>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="font-w700 text-gray-darker animated fadeIn">Total Earnings</div>
            <div class="text-muted animated fadeIn"><small><i class="si si-calendar"></i> All Time</small></div>
            <a class="h2 font-w300 text-primary animated flipInX" href="javascript:void(0)">$ 93,880</a>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="font-w700 text-gray-darker animated fadeIn">Average Sale</div>
            <div class="text-muted animated fadeIn"><small><i class="si si-calendar"></i> All Time</small></div>
            <a class="h2 font-w300 text-primary animated flipInX" href="javascript:void(0)">$ 270</a>
        </div>
    </div>
</div>

<!-- Page Content -->
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-info push-5-r push-10" type="button" ng-click="DownloadExel()"><i class="fa fa-download"></i> Download</button>
            <label class="btn btn-primary btn-file push-10">
                <i class="fa fa-upload"></i>  Upload <input type="file" style="display: none;" ng-model="File" hidden onchange="angular.element(this).scope().SendExcel(this.files[0])">
            </label>
            <button class="btn btn-success push-5-r push-10 pull-right" data-toggle="modal" data-target="#modal-normal" type="button"><i class="fa fa-plus"></i> Add New</button>
        </div>
        </div>
    <div class="block">
        <div class="block-header">
            <ul class="nav nav-tabs" data-js-tabs="">
                <li ng-repeat="type in contactTypes">
                    <button class="btn btn-default" href="#btabswo-static-all" ng-click="SelectContactType(type)">{{type}}</button>
                </li>
            </ul>
        </div>
        <div class="block-content">
            <!-- DataTables init on table by adding .js-dataTable-full class, functionality initialized in js/controllers.js -> TablesDatatablesCtrl Controller -->
            <table class="table table-bordered table-striped js-dataTable-full">
            </table>
        </div>
    </div>

</div>

<!-- Modal -->
<div class="modal ng-scope" id="modal-normal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="block block-themed block-transparent remove-margin-b">
                <div class="block-header bg-primary-dark">
                    <ul class="block-options">
                        <li>
                            <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">Contacts</h3>
                </div>
               
                <div class="block-content">
                    <form class="js-validation-bootstrap form-horizontal ng-pristine ng-valid" action="#"  onsubmit="return false;" novalidate="novalidate">
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="val-skill">Type of contact</label>
                            <div class="col-md-7">
                                <select class="form-control" id="val-skill" name="val-skill" ng-model="contact.ContactType">
                                    <option value="">Please select</option>
                                    <option value="html">Customer</option>
                                    <option value="css">Supplier</option>
                                    <option value="javascript">Employee</option>
                                    <option value="ruby">Other</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Company </label>
                            <div class="col-md-8">
                                <label class="css-input css-checkbox css-checkbox-primary" for="val-company">
                                    <input type="checkbox" id="val-company" name="val-company" value="1" ng-model="contact.IsCompany"><span></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="val-title">Title </label>
                            <div class="col-md-7">
                                <input class="form-control" type="text" id="val-title" name="val-title" ng-model="contact.Title">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="val-username">Name <!--<span class="text-danger">*</span>--></label>
                            <div class="col-md-7">
                                <input class="form-control valid" type="text" id="val-username" name="val-username" placeholder="Type name..." aria-required="true" aria-describedby="val-username-error" aria-invalid="true" ng-model="contact.Name">
                                <!--<div id="val-username-error" class="help-block animated fadeInDown">Please enter a name</div>-->
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="val-address-search">Input address </label>
                            <div class="col-md-7">
                                <input class="form-control" type="text" id="val-address-search" name="val-address-search" ng-autocomplete ng-model="contact.Street">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="val-address-search">  </label>
                            <div class="col-md-7">
                                <input class="form-control" type="text" id="val-address" name="val-address" disabled="disabled" ng-model="contact.Street">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="val-email">Email </label>
                            <div class="col-md-7">
                                <input class="form-control" type="email" id="val-email" name="val-email" placeholder="Enter your valid email.." ng-model="contact.Email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="val-phoneus">Phone number </label>
                            <div class="col-md-7">
                                <input class="form-control" type="text" id="val-phoneus" name="val-phoneus" placeholder="212-999-0000"
                                       ng-model="contact.PhoneNumber"
                                       ui-mask="(999) 999-9999"
                                       ui-mask-placeholder
                                       ui-mask-placeholder-char="_">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="val-vat">VAT number</label>
                            <div class="col-md-7">
                                <input class="form-control" type="number" id="val-vat" name="val-vat" ng-model="contact.VatNumber" >
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-4">
                                <button class="btn btn-sm btn-primary" ng-click="SaveContact(contact)">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-default" type="button" data-dismiss="modal">Close</button>  
            </div>
        </div>
    </div>
</div>