<div class="content bg-white border-b ng-scope">
    <div class="row items-push text-uppercase">
        <div class="col-xs-6 col-sm-3">
            <div class="font-w700 text-gray-darker animated fadeIn">Product Sales</div>
            <div class="text-muted animated fadeIn"><small><i class="si si-calendar"></i> Today</small></div>
            <a class="h2 font-w300 text-primary animated flipInX" href="javascript:void(0)">300</a>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="font-w700 text-gray-darker animated fadeIn">Product Sales</div>
            <div class="text-muted animated fadeIn"><small><i class="si si-calendar"></i> This Month</small></div>
            <a class="h2 font-w300 text-primary animated flipInX" href="javascript:void(0)">8,790</a>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="font-w700 text-gray-darker animated fadeIn">Total Earnings</div>
            <div class="text-muted animated fadeIn"><small><i class="si si-calendar"></i> All Time</small></div>
            <a class="h2 font-w300 text-primary animated flipInX" href="javascript:void(0)">$ 93,880</a>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="font-w700 text-gray-darker animated fadeIn">Average Sale</div>
            <div class="text-muted animated fadeIn"><small><i class="si si-calendar"></i> All Time</small></div>
            <a class="h2 font-w300 text-primary animated flipInX" href="javascript:void(0)">$ 270</a>
        </div>
    </div>
</div>

<!-- Page Content -->
<div class="content">

    <div class="block">
        <div class="block-header">
            <ul class="nav nav-tabs" data-js-tabs="">
                <li class="active">
                    <a href="#btabswo-static-all">All</a>
                </li>
                <li>
                    <a href="#btabswo-static-customer">Customer</a>
                </li>
                <li>
                    <a href="#btabswo-static-supplier">Supplier</a>
                </li>
                <li>
                    <a href="#btabswo-static-employee">Employee</a>
                </li>
                <li>
                    <a href="#btabswo-static-other">Other</a>
                </li>
                <li class="pull-right">
                    <ul class="block-options push-10-t push-10-r">
                        <li>
                            <button type="button" data-js-block-option="" data-action="fullscreen_toggle"><i class="si si-size-fullscreen"></i></button>
                        </li>
                        <li>
                            <button type="button" data-js-block-option="" data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                        </li>
                        <li>
                            <button type="button" data-js-block-option="" data-action="content_toggle"><i class="si si-arrow-up"></i></button>
                        </li>
                        <li>
                            <button type="button" data-js-block-option="" data-action="close"><i class="si si-close"></i></button>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="block-content">
            <!-- DataTables init on table by adding .js-dataTable-full class, functionality initialized in js/controllers.js -> TablesDatatablesCtrl Controller -->
            <table class="table table-bordered table-striped js-dataTable-full">
            </table>
        </div>
    </div>

</div>            

             
<div class="modal ng-scope" id="modal-normal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="block block-themed block-transparent remove-margin-b">
                <div class="block-header bg-primary-dark">
                    <ul class="block-options">
                        <li>
                            <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">Contacts</h3>
                </div>
                <div class="block-content">
                    <form class="js-validation-bootstrap form-horizontal ng-pristine ng-valid" action="index.html" method="post" novalidate="novalidate">
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="val-skill">Type of contact<span class="text-danger">*</span></label>
                            <div class="col-md-7">
                                <select class="form-control" id="val-skill" name="val-skill">
                                    <option value="">Please select</option>
                                    <option value="html">Customer</option>
                                    <option value="css">Supplier</option>
                                    <option value="javascript">Employee</option>
                                    <option value="ruby">Other</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Company <span class="text-danger">*</span></label>
                            <div class="col-md-8">
                                <label class="css-input css-checkbox css-checkbox-primary" for="val-company">
                                    <input type="checkbox" id="val-company" name="val-company" value="1"><span></span> 
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="val-title">Title <span class="text-danger">*</span></label>
                            <div class="col-md-7">
                                <input class="form-control" type="text" id="val-title" name="val-title">
                            </div>
                        </div> 
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="val-username">Name <span class="text-danger">*</span></label>
                            <div class="col-md-7">
                                <input class="form-control valid" type="text" id="val-username" name="val-username" placeholder="Type name..." aria-required="true" aria-describedby="val-username-error" aria-invalid="true">
                                <div id="val-username-error" class="help-block animated fadeInDown">Please enter a name</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="val-address-search">Input address <span class="text-danger">*</span></label>
                            <div class="col-md-7">
                                <input class="form-control" type="text" id="val-address-search" name="val-address-search"  ng-autocomplete ng-model="address">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="val-address-search">  </label>
                            <div class="col-md-7">
                                <input class="form-control" type="text" id="val-address" name="val-address" disabled="disabled" ng-value="address">
                            </div>
                        </div> 
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="val-email">Email <span class="text-danger">*</span></label>
                            <div class="col-md-7">
                                <input class="form-control" type="text" id="val-email" name="val-email" placeholder="Enter your valid email..">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="val-phoneus">Phone number <span class="text-danger">*</span></label>
                            <div class="col-md-7">
                                <input class="form-control" type="text" id="val-phoneus" name="val-phoneus" placeholder="212-999-0000">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="val-vat">VAT number<span class="text-danger">*</span></label>
                            <div class="col-md-7">
                                <input class="form-control" type="text" id="val-vat" name="val-vat" placeholder="212-999-0000">
                            </div>
                        </div> 
                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-4">
                                <button class="btn btn-sm btn-primary" type="submit">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-default" type="button" data-dismiss="modal">Close</button>
                <button class="btn btn-sm btn-primary" type="button" data-dismiss="modal"><i class="fa fa-check"></i> Ok</button>
            </div>
        </div>
    </div>
</div>